{% extends "yolo/layout.html" %}

{% block content %}
    {% load imagekit %}
    <main role="main">

      <section class="jumbotron text-center" style="margin-top:30px; margin-left:20px; margin-right:20px">
        <div class="container">
                    <h1 class="jumbotron-heading"># Tag</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Add New Yolo List</a>
            <a href="#" class="btn btn-secondary my-2">Look Around</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
        {% for yolo in yolos %}
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  {% if yolo.image %}
                    <img class="card-img-top" data-src="/media/{{ yolo.image }}" alt="Card image cap">
                  {% endif %}
                <div class="card-body">
                  <p class="card-text">{{ yolo }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

    </main>
{% endblock %}
    {% for tag in tags %}
        <li>{{ tag.name }}</li>
    {% endfor %}
    {% if yolos %}
    {% for yolo in yolos %}
        <p> {{ yolo }}</p>
    {% endfor %}
    {% else %}
    There is no ... Be the First Listing Under this tag!
    {% endif %}