{% extends "yolo/layout.html" %}
{% block content %}

    {% load static %}
    <style>



        /* GOOGLE AREA */
        .google #google_logo {
          text-align: center;
          display: block;
          margin: 0 auto;
          clear: both;
          padding-top: 300px;
          padding-bottom: 10px;
        }

        .form {
          text-align: center;
        }

        #form-search {
          font-size:15px;
          width: 450px;
          line-height: 32px;
        }

        .form #form-search {
          padding: 0 8px;
        }

        #form-search:hover {
          border-color: #ffc0d2;
          padding-top: 0;
        }

        .buttons {
          text-align: center;
          padding-top: 10px;
          margin-bottom: 300px;
        }
        /* MEDIA QUERIES */

        @media screen and (max-width: 400px) {

         li.nav-links a {
            display: none;
          }

         #google_logo {
           padding: 0;
         }

         .buttons {
           display: none;
         }

         #form-search {
           width: 80%;

         }

        @media screen and (max-width: 565px) {

          li.nav-links a {
            display: none;
          }


         #google_logo {
           padding: 0;
         }

         .buttons {
           display: none;
         }

         #form-search {
           width: 80%;

         }
        }}

    </style>


    <!-- GOOGLE IMG -->
    <div class="google">
      <a href="#" id="google_logo"><img src="{% static "yolo/YOLODIN.png" %}" alt="logophoto"/></a>
    </div>

    <!-- FORM SEARCH -->
    <div class="form">
      <form action="" method="get">
        <label for="form-search"></label>
        <input type="text" name="q" value="{{ q }}" id="form-search" placeholder="Write Down Your Life Goal Here">
        <input type="submit" value="submit" class="btn btn-outline-primary">
      </form>
    </div>
{% endblock %}