{% extends "yolo/layout.html" %}

{% block content %}
    {% load static %}

    <div class="container-fluid">
    {% for yolo in yolos %}
        <div class="card" style="width: 18rem;">
            {% if yolo.image %}
                <img class="card-img-top" src="{{ yolo.image.url }}" alt="Card img cap"/>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ yolo.what }}</h5>
                <p class="card-text"> {{ yolo.tag_set.name }}</p>
                <a href="#" class="btn btn-primary"> Detail </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}